
html {
    background: #90AEAD;
    color: black;
    font-family: "western", "fantasy", "Georgia", serif;
}
img {
    width: 30%;
    height: auto;
}

nav {
    background: white;
    font-weight:bold
}