
html {
    background: #90AEAD;
    color: black;
    font-family: "western", "fantasy", "Georgia", serif;
    margin-left: 5em;
    margin-right: 5em;
}
img {
    width: 100%;
    max-width: 600px;
    border-radius: 4%

}
img.me {width:15%;
flex:1;
}
nav {
    background: white;
    font-weight: bold;
    font-size: 2vw;
}
h1 {
    font-size: 3.5vw;
}
h2 {
    font-size: 2vw
}
h3 {
    font-size: 1.5vw
}
h4 {
    font-size: 2vw
}
h5 {
    font-size: 1.5vw
}
h6 {
    font-size: 1.5vw
}
body {
    line-height: 1.5em;
    font-size: medium;
}
div.side-by-side {
    display: flex;
    margin: auto;

}
figcaption {
    font-size: medium
}
figure.me {background-color:#90AEAD}
figure {
    background-color: white
}
figure.sky {
    flex: 1;
    border-radius: 4%;
}
figure.project {
    flex: 1;
    border-radius: 4%;
}
figure.me { flex:1;
    border-radius: 4%;
    height:100%}
ul {
    border-style: ridge;
    border-width: 8px;
}
h2.work {
    margin: auto

}
section.server {
    margin: auto
}
iframe {
    flex: 1;
    width: 400px;
    border-radius: 4%
}
figure.three-d {
    border-radius: 4%
}